@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://ryanmontville.com">RyanMontville.com</a>
            <a href="https://github.com/RyanMontville/unitconverter" target="_blank">View GitHub Repo</a>
        </div>

        <article class="content px-4">
            <CascadingValue Value="@globalHistory">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private List<string> globalHistory = new List<string>();
}
